@model ControleVendas.Models.Acesso

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastrar novo nível de acesso</h2>

<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="AcessoNivel" class="control-label"></label>
                        <input asp-for="AcessoNivel" class="form-control" />
                        <span asp-validation-for="AcessoNivel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
            </div>
            
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
