@model ControleVendas.Models.Acesso

@{
    ViewData["Title"] = "Delete";
}

<h2>Tem certeza que deseja apagar esse nível de acesso?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcessoNivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcessoNivel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AcessoID" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
    </form>
</div>
