@model ControleVendas.Models.Acesso

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar nível de acesso</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcessoID" />
            <div class="form-group">
                <label asp-for="AcessoNivel" class="control-label"></label>
                <input asp-for="AcessoNivel" class="form-control" />
                <span asp-validation-for="AcessoNivel" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
