@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-vindo!</h1>
    <p>Faça login para continuar:</p>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">CPF ou CNPJ</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Mantenha-me conectado</label>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
        </form>
    </div>
</div>


