@model ControleVendas.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastrar novo produto</h2>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Preco" class="control-label"></label>
                        <input asp-for="Preco" class="form-control" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Estoque" class="control-label"></label>
                        <input asp-for="Estoque" class="form-control" />
                        <span asp-validation-for="Estoque" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-warning white-text">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="@Url.Content("~/js/jquery.validate.pt-BR.js")">

    </script>
}


